<!DOCTYPE html>
{% load staticfiles %}
{% load rango_template_tags %}

<html lang="en">

    <head>

        <title>
            White Market
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/base_style.css' %}">
        {% block css_block %}
        {% endblock %}
    </head>

    <div>
        <h1 class="header">White Market</h1>
    </div>

    <body>
        <div class="body">
        {% block body_block %}
        {% endblock %}
        </div>
        {% block sidebar_block %}
        <div class="sidebar">

            {% if user.is_authenticated %}
                <li><a href="{% url 'rango:myAccount' %}">Account</a></li>
                <li><a href="{% url 'rango:bids' %}">Bids</a></li>
                <li><a href="{% url 'rango:transactions' %}">Transactions</a></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% endif %}
        </div>
        {% endblock %}
        <hr />
        <div class = "footer">
            <ul>
                <li><a href="{% url 'rango:terms' %}">Legal</a></li>
                <li><a href="{% url 'rango:about' %}">About</a></li>
                <li><a href="{% url 'rango:contact' %}">Contact</a></li>
                <li><a href="{% url 'rango:register' %}">Register</a></li>
            </ul>
        </div>
    </body>
</html>