{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - About
{% endblock %}


{% block body_block %}

<div class="container">
        <div class="grid-item about-page">
            <img style="max-width: 20%; max-height: auto;" class="logo-about" src="{% static 'images/whiteMarketLogo.svg' %}" alt="White Market logo" />

 
                <div class="container">
                    <h1>Contact White Market</h1>
                    <p>If you have any questions or concerns, please feel free to reach out to us using the contact form below. Our team will get back to you as soon as possible.</p>
                    
                    <form action="/contact" method="POST">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" placeholder="Your name" required>
                        </div>
            
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Your email address" required>
                        </div>
            
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" name="subject" placeholder="Subject" required>
                        </div>
            
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" rows="5" placeholder="Your message" required></textarea>
                        </div>
            
                        <div class="form-group">
                            <input type="submit" value="Submit">
                        </div>
                    </form>

            <a href="{% url 'whitemarket:index' %}">Home</a>
        </div>
</div>
</div>
{% endblock %}
