{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - About
{% endblock %}


{% block body_block %}

<div class="container">
        <div class="grid-item about-page">
            <img style="max-width: 20%; max-height: auto;" class="logo-about" src="{% static 'images/whiteMarketLogo.svg' %}" alt="White Market logo" />
            <h1>White Market</h1>

            <h2>Contact Us</h2>

            <h3>Come and Chat with Us</h3>

            <p>The White Market team can be contacted by using the email address below:</p>
            <p>whitemarket@gmail.com</p>

            <p>You can also contact us by text or phone call:</p>
            <p>08803 546319</p>

            <p>The White Market Team</p>
            <a href="{% url 'whitemarket:index' %}">Home</a>
        </div>
</div>
{% endblock %}
