<!DOCTYPE html>

{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - Home
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="items-container">
    <!-- Item 1 -->
    <a href="#" class="item-box">
      <img src="{{ MEDIA_URL }}/item_photos/item_photo_test.jpg" alt="Item 1">
      <div class="item-info">
        <span class="item-name">Item 1</span>
        <span class="item-price">$100</span>
      </div>
      <div class="item-seller">Seller: John Doe</div>
    </a>

    <!-- Item 2 -->
    <a href="#" class="item-box">
        <img src="item-image-url-1.jpg" alt="Item 2">
        <div class="item-info">
          <span class="item-name">Item 2</span>
          <span class="item-price">$101</span>
        </div>
        <div class="item-seller">Seller: John Doe</div>
      </a>

      <!-- Item 3 -->
      <a href="#" class="item-box">
        <img src="item-image-url-1.jpg" alt="Item 3">
        <div class="item-info">
          <span class="item-name">Item 3</span>
          <span class="item-price">$102</span>
        </div>
        <div class="item-seller">Seller: John Doe</div>
      </a>
  </div>

  <!-- Graph -->
  <div class="graph-container">
    <canvas id="graph"></canvas>
  </div>
  <script src="{% static 'JavaScript/indexJS.js' %}"></script>
</div>
{% endblock %}