<!DOCTYPE html>

{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - Home
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}
<div class="container">
    <div class="items-container">

{% for item in items %}
    <a href="{% url 'whitemarket:showListing' item_name_slug=item.slug%}" class="item-box">
      <img src="{{ MEDIA_URL }}/{{ITEM_PHOTO_URL }}/{{item.itemImage}}" alt="{{item.slug}}">
      <div class="item-info">
        <span class="item-name">{{ item.itemName }}</span>
        <br><span class="item-price">Buy Now Price:{{ item.buyNowPrice }}</span>
      </div>
      <div class="item-seller">Seller: {{ item.sellerID }}</div>
    </a>
{% endfor %}


{% else %}
<div class="container">
  <img style="max-width: 20%; max-height: auto;" class="logo-about" src="{% static 'images/whiteMarketLogo.svg' %}" alt="White Market logo" />
  <p style="font-size: 2em;">Login to access the White Market</p>
  <button>
    <a href="{% url 'whitemarket:login' %}">Log In</a>
  </button>
</div>
{% endif %}

</div>
</div>
{% endblock %}