<!DOCTYPE html>

{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - Home
{% endblock %}

{% block css_block %}
<!-- Change to correct CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}

{% if user.is_authenticated %}

<!-- conatiner -->
<div>

<!-- info -->

        <div class="seller-info">
            <div class="seller-name">Name: John Doe</div>
            <div class="seller-email">Email: fakeEmail@aol.com</div>        
            <div class="seller-status">Status: Seller</div>
        </div>

<!-- photo -->
    <div class="profile-photo-container">
        <img src="item-image-url-1.jpg" alt="User Photo">
    </div>

<!-- history -->
    <div>
        <p>History goes here</p>
    </div>

</div>