{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - About
{% endblock %}


{% block body_block %}

<div class="container">
        <div class="grid-item about-page">
            <img style="max-width: 20%; max-height: auto;" class="logo-about" src="{% static 'images/whiteMarketLogo.svg' %}" alt="White Market logo" />
            <h1>White Market Legal Information</h1>

            <h2>Introduction</h2>
            
            <p>Welcome to the White Market, a premier platform for trading collectibles. We value the trust you place in our services and strive to operate a safe, secure, and transparent marketplace. This legal page outlines the terms and conditions, privacy policy, and other important information regarding your use of our platform.</p>
            
            <p>Please read these terms and conditions carefully before using the White Market website or mobile application ("White Market" or "Platform"). By accessing or using the Platform, you agree to be bound by the terms and conditions outlined in this legal page.</p>
            <p>Terms and Conditions</p>
            
            <p>General</p>
            <p></p>These Terms and Conditions govern your use of the White Market Platform and the services provided therein. By accessing or using the Platform, you agree to be bound by these Terms and Conditions, including any future modifications or updates.</p>
            <p>Eligibility</p>
            <p>To use the White Market Platform, you must be at least 18 years old or have legal guardian consent, and be legally able to form a binding contract. The Platform is not intended for use by individuals under the age of 18.</p>
            <p>Account Registration</p>
            <p>To access certain features and services on the Platform, you must create an account. You agree to provide accurate and complete information during account registration and to update your information as necessary. You are responsible for maintaining the confidentiality of your account password and for any activities that occur under your account.</p>
            <p>Prohibited Items and Conduct</p>
            <p>White Market is a platform for trading collectibles, and we do not allow the sale or exchange of any illegal items, counterfeit goods, or items that infringe upon intellectual property rights. You agree to comply with all applicable laws and regulations in your use of the Platform and not to engage in any conduct that is harmful, fraudulent, or otherwise objectionable.</p>
            <p>Fees and Payment</p>
            <p>White Market may charge fees for certain services and features on the Platform. By using these services, you agree to pay any applicable fees as specified at the time of purchase.</p>
            <p>Dispute Resolution</p>
            <p>In the event of a dispute between users, White Market encourages users to resolve the issue amicably. White Market may, at its discretion, provide assistance in resolving disputes but is not obligated to do so.</p>
            <p>Limitation of Liability</p>
            <p>White Market shall not be liable for any indirect, incidental, consequential, or punitive damages arising out of or in connection with your use of the Platform or any services provided therein.</p>
            <p>Privacy Policy</p>
            <p>White Market is committed to protecting your privacy. Our Privacy Policy describes how we collect, use, and share your personal information when you access or use the Platform. By using White Market, you agree to the collection and use of your information in accordance with our Privacy Policy.</p>
            <p>Copyright Policy</p>
            <p>White Market respects the intellectual property rights of others and expects users to do the same. If you believe that your copyrighted work has been infringed upon, please contact us at [email protected] with the necessary information for us to take appropriate action.</p>
            <p>Changes to Legal Information</p>
            <p>White Market may update or modify this legal page at any time, and your continued use of the Platform constitutes your acceptance of the updated terms and conditions. We encourage you to periodically review this legal page for any changes.</p>
            <p>Contact Information   </p>         
            <p>If you have any questions or concerns regarding our legal information, please feel free to contact us at notarealemail@whitemarket.com</p>
            
        </p>Last updated: 23/03/2023</p>
        <a href="{% url 'whitemarket:index' %}">Home</a>
        </div>
</div>
{% endblock %}
