{% extends 'whitemarket/base.html' %}
{% load staticfiles %}

{% block title_block %}
 - About
{% endblock %}


{% block body_block %}

<div class="container">
        <div class="grid-item about-page">
            <img style="max-width: 20%; max-height: auto;" class="logo-about" src="{% static 'images/whiteMarketLogo.svg' %}" alt="White Market logo" />
            <h1>White Market</h1>

            <h2>About Us</h2>

            <h3>Your One-Stop Trading Platform</h3>

            <p>You must be over 18 years old to create an account on our site</p>

            <p>Sale of illegal goods such as arms or drugs is strictly prohibited</p>
            <p>Breaking the above rule will result in an immediate account ban</p>
            <p>The White Market Team</p>
            <a href="{% url 'whitemarket:index' %}">Home</a>
        </div>
</div>
{% endblock %}
